<!-- <ul>
    <li *ngFor="let chat of chats | async">
        {{ chat.message }}
    </li>
</ul> -->

<div class="container main-container">
    <h1>Fire Chat</h1>

    <div class="col-md-12 text-right" *ngIf="_chatService.userChat.uid">
        <button class="btn btn-outline-danger mr-2" type="button" (click)="_chatService.logOut()">
            Log Out
        </button>
    </div>

    <app-login *ngIf="!_chatService.userChat.uid"></app-login>

    <div class="chat-window" *ngIf="_chatService.userChat.uid">
        <app-chat></app-chat>
    </div>

</div>