<div class="row">
    <div class="col-md-12 text-center">

        <p>
            Login with your favorite account...
        </p>

        <button class="btn btn-outline-success mr-4" type="button" (click)="login('google')">
            Google
        </button>

        <button class="btn btn-outline-info mr-4" type="button" (click)="login('twitter')">
            Twitter
        </button>

        <button class="btn btn-outline-secondary mr-4" type="button" (click)="login('github')">
            GitHub
        </button>

        <button class="btn btn-outline-primary mr-4" type="button" (click)="login('microsoft')">
            Microsoft
        </button>

        <button class="btn mr-4 buttonYahoo" type="button" (click)="login('yahoo')">
            Yahoo
        </button>

    </div>
</div>